* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header {
    position: relative;
    background-color: lightsteelblue;
    color:black;
    border-bottom: 5px solid navy;
    height:60px;
    width:100%;
    line-height: 60px;
}

 li {
     display: inline;
     padding: 0px 20px;
     text-decoration:none;
 }

.nav {
    padding: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.text-right {
    text-align:right;
}

body {
    background-color: whitesmoke;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
}

section {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    float: left;
    padding: 20px;
    font-size: 30px;
}

.about {
    width: 100%;
}

.me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about p {
    text-align: left;
    background-color: lightsteelblue;
    padding: 10px;
    width: 70%;
}

.about img {
    width: 300px;
    height: 300px;
    background-color:lightsteelblue;
    padding: 10px;
}
.work {
    display: flex;
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    position: relative;
}

.project1 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.project1 img {
    border: 10px solid lightsteelblue;
}

.text-block {
    position: absolute;
    bottom: 10%;
    left: 30%;
    background-color: lightsteelblue;
    color: navy;
    padding-right: 20px;
    padding-left: 20px;
}

.text-block1 {
    position: absolute;
    bottom: 10%;
    left: 25%;
    background-color: lightsteelblue;
    color: navy;
    padding-right: 20px;
    padding-left: 20px;
}

.text-block2 {
    position: absolute;
    bottom: 10%;
    left: 52%;
    background-color: lightsteelblue;
    color: navy;
    padding-right: 20px;
    padding-left: 20px;
}

.projectx {
    width: 100%;
    display:flex;
    justify-content: center;
    position: relative;
}

.projectx img {
   border: 10px solid lightsteelblue;
   margin: 3px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: lightsteelblue;
    color: navy;
    text-align: center;
    font-size: 20px
}

@media screen and (max-width: 1200px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    body {
        width: 75%;
    }
}

@media screen and (max-width: 320px){
    body {
        width: 50%;
    }
}