html {
    background-image: linear-gradient(to bottom right, cyan, blue, navy)
}

a:hover {
    opacity: .9;
}

.project-image:hover {
    background-color:navy;
    opacity: .8;
}

.project-image {
    border-radius: 5%;
    padding: 10px;
}